name: Deploy Angular app to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: write  # Donne le droit d’écrire sur gh-pages

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          npm ci
          npm install -g @angular/cli

      - name: Build Angular app
        run: |
          npm run build -- --configuration production --output-path=dist/static --base-href "https://alexdmt0110.github.io/rouge_minuit/" --output-mode=static
          cp dist/static/browser/index.csr.html dist/static/index.html || true

      - name: Deploy to GitHub Pages 🚀
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}   # 🔑 clé d’accès automatique
          branch: gh-pages                    # branche cible
          folder: dist/static                 # dossier à publier
          clean: true                         # nettoie avant déploiement
